@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white !important;
}

.header-page {
  background: black;
  height: 90px;
  color: white;
}

nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  background: black;
  position: fixed;
  height: 100%;
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

main {
  margin: 50px 0 0 170px;
  display: flex;
  flex-wrap: wrap;
}

main > div {
  margin-bottom: 75px;
  flex-basis: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

h3 {
  color: #282d30;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

p {
  color: #74798c;
  font-family: Roboto;
  font-size: 14px;
}

.red {
  color: red;
}

.section-content {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.aside-content {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  background: #fbfbfb;
  border-radius: 5px;
}

.panel-activity {
  background: #fbfbfb;
  height: 250px;
  width: 500px;
  flex-basis: 100%;
}

.panel-graph {
  height: 185px;
  width: 185px;
}

.panel-metrics {
  height: 100px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.line-graph {
  background-color: #ff0000;
}

.line-graph > p {
  margin: 15px;
  position: absolute;
  color: white;
  opacity: 50%;
  font-size: 15px;
}

.radar-graph {
  background: #282d30;
}

.score {
  position: absolute;
  margin: 10px;
  font-size: 15px;
}

.custom-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  text-align: center;
}

.desc {
  font-size: 26px;
  font-weight: 700;
}

.desc + p {
  font-size: 15px;
  font-weight: 500;
  color: #74798c;
  white-space: nowrap;
}

.header-activity {
  display: flex;
  justify-content: space-between;
}

.panel-information {
  display: flex;
  gap: 1em;
}

.panel-item {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.red-dot {
  height: 8px;
  width: 8px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}

.black-dot {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.panel-title {
  color: #20253a;
  font-size: 15px;
}

.notfound {
  display: flex;
}

.notfound > h1 {
  font-size: 80px;
  color: red;
}

.custom-tooltip-BarChart {
  border: none;
  background-color: red;
  padding: 10px;
}

.custom-tooltip-BarChart > p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 8px;
}

.custom-tooltip-lineGraph {
  border: none;
  background-color: white;
  padding: 1px 10px;
}

.custom-tooltip-lineGraph > p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 8px;
}
